name: Autograding
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    
    services:
      mongodb:
        image: mongo:latest
        ports:
          - 27017:27017

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          # Pinning the driver version solves the BSONArray Fatal Error
          extensions: mongodb-1.16.0
          tools: composer

      - name: Install dependencies
        run: composer install

      - name: Run Autograder
        run: ./vendor/bin/phpunit tests/LibraryTest.php
